@font-face {
    font-family: 'RubikScribble';
    src: url(../fonts/RubikScribble-Regular.ttf) format('woff2');
}

body {
    background-color: white ;
}

h1{
color: black;
text-align: center;
margin-left: 0%;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar-brand{
font-family: RubikScribble;
font-size: 30px;
color: black;
font-weight: bold;
}

.jumbotron{
    background-color: white;
    border-radius: 4px;
    text-align:center;
    font-weight: lighter;
    font-size: 20px;
}

.profile{
    background-image: url(../images/Portfolio\ image.png);
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.card{
    text-align: center;
    background: darkseagreen;
    border-radius: 4px;
    margin: 5px;
}

a{
    text-decoration: none;
    color: seagreen;
}

a :hover{
    color: green !important;
    box-shadow: inset !important;
}

.container{
    background-color: whitesmoke;
}

